@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: header                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* header s ================================================= */

.head{
  position: relative;
  @include wrap_p($pd:2rem 3.5rem);
  &::after{
    content: '';
    display: inline-block;
    clear: both;
  }
  .header_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    & > li{
      &:nth-child(2){
        flex-basis: 90rem;
        &.header_hide{
          display: none;
        }
      }
      &:nth-child(4){
        &.header_hide{
          display: none;
        }
      }
      .search_wrap{
        width: 100%;
        position: relative;
        .search{
          width: 49rem;
          height: 4rem;
          padding: 0 5rem;
          border: 1px solid #c3d4e966;
          border-radius: 7rem;
          font-size: $font-14r;
        }
        .ico_search,
        .ico_filter
        {
          position: absolute;
          top: 1rem;
          width: 24px;
          height: 24px;
          font-size: 0;
          cursor: pointer;
        }
        .ico_search{
          left: 1.7rem;
          background: url(../images/header/search_normal.png) no-repeat;
        }
        .ico_filter{
          left: 45rem;
          background: url(../images/header/filter.png) no-repeat;
        }
      }
      .icon_list{
        display: flex;
        align-items: center;
        & > li{
          position: relative;
          margin:0 .5rem;
          padding:10px;
          border: 1px solid #c3d4e966;
          border-radius: 90px;
          & > button{
            width: 24px;
            height: 24px;
            font-size: 0;
            &.heart{
              background: url(../images/header/heart.png) no-repeat;
            }
            &.notice{
              background: url(../images/header/notification.png) no-repeat;
            }
            &.setting{
              background: url(../images/header/setting_2.png) no-repeat;
            }
          }
          &:last-child{
            margin: 0;
            padding: 10px 0;
            border:none;
          }
        }
        .notice_on{
          &::after{
            content: '';
            position: absolute;
            right: 0;
            top: .2rem;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background-color: #FF4423;
          }
        }
      }
    }
  }
  .head_type_1{
    > li{
      &:nth-child(2){
        display: none;
      }
      &:nth-child(4){
        display: none;
      }
    }
  }
}

/*모바일 지정 */
@media only screen and (max-width: 768px) {
  .head{
    padding: 1rem 2.4rem 0;
    .header_wrap{
      > li{
        &:first-child{
          order: 3;
          margin-bottom: 2rem;
          img{
            width: 11rem;
          }
        }
        &:nth-child(2){
          order: 4;
          flex-basis: 72rem;
        }
        &:nth-child(3){
          order: 2;
          padding-left: 22rem;
        }
        &:nth-child(4){
          order: 1;
        }
        .search_wrap{
          .search{
            width: 83%;
            padding: 1.5rem 0 1.5rem 6rem;
            border-radius: 1rem;
          }
          .ico_filter{
            left: auto;
            top: 0rem;
            padding: 1.8rem 2rem;
            margin-left: 1rem;
            border: 1px solid #c3d4e966;
            border-radius: 1rem;
            background-position: center;
          }
        }
        .icon_list{
          & > li{
            display: none;
            &:last-child{
              display: block;
              img{
                width: 3.5rem;
              }
            }
          }
        }
      }
    }
    .head_type_1{
      align-items: baseline;
      > li{
        &:first-child{
          order: 0;
          margin-bottom: 2rem;
        }
        &:nth-child(3){
          order: 1;
          padding:0;
        }
      }
    }
    .head_type_2{
      align-items: baseline;
      padding-bottom: 2rem;
      > li{
        &:first-child{
          order: 1;
          margin-bottom: 3rem;
        }
        &:nth-child(3){
          order:2;
        }
        &:nth-child(4){
          display: none;
        }
      }
    }
  }


  .burger-icon {
    cursor: pointer;
    display: inline-block;
    padding: .8rem 0;
    .burger-sticks {
      background: #596780;
      display: block;
      height: .2rem;
      position: relative;
      transition: background .2s ease-out;
      width: 1.8rem;
      &::before,
      &::after{
        background: #596780;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      &::before{
        top: 5px;
      }
      &::after{
        top: -5px;
      }
    }
  }
  .burger-check {
    display: none;
  }

  .burger-check:checked~
  .burger-icon
  .burger-sticks {
    background: transparent;
    &::before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(45deg);
    }
  }
  .burger-check:checked~
  .burger-icon:not(.steps)
  .burger-sticks{
    &::before,
    &::after{
      top: 0;
    }
  }



} /* //media only */







/* header e ================================================= */
/* ---------------------------------------------------------- */