@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: main                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* main s =================================================== */
.index_wrap{
  padding:10rem 20rem;
  font-size: $font-20r;
  h2{
    margin-bottom: 4rem;
  }
  .link_list{
    li{
      list-style: circle;
      a{
        border-bottom:1px solid #312fd6;
      }
    }
  }

}

/* main e =================================================== */
/* ---------------------------------------------------------- */